/* Estilos para el encabezado */
header {
   color: #030b13;
   text-align: left;
   margin: 0; /* Agrega un margen inferior de 20 píxeles */
   animation: aclarar-letras 10s linear 1s; /* Aplica la animación aclarar-letras durante 1 segundo después de una demora de 1 segundo */
   font-size: auto; /* Tamaño de fuente de tu elección */
   text-shadow: 2px 2px 0 #fff; /* Añade un bordeado blanco */
}

@keyframes aclarar-letras {
    0% {
      color: #333; /* Color de las letras inicial */
    }
    50% {
      color: rgb(120, 235, 250); /* Color de las letras después de aclararse */
    }
}

  /* Foto de perfil */
.contenedor-imagen {
    width: 280px !important;
    height: 280px !important;
    background-image: url(./MiFotoEnPlaza.jpg);
    background-size: cover !important;
    border-radius: 20% 40% / 20% 60% !important; /* Hace que la imagen sea circular */
    background-color: #9ae1f7; /* Color en caso de que la imagen no cargue */
    transform: rotate(9deg) !important;
    margin: 15%;
    box-align: left;
}

/* Estilos para la sección destacada */
.seccion-destacada {
    background-color: #3498db; /* Color azul de fondo */
    color: #fff; /* Texto en color blanco */
    padding: 20px; /* Espaciado interno */
    width: 30%; /* Ancho de la sección (ajusta según tus necesidades) */
    float: left; /* Coloca la sección a la izquierda */
    margin-right: 15%; /* Agrega un margen derecho para separar el contenido principal */
}

/* Estilos para el contenido de la sección destacada */
.seccion-destacada h2 {
    font-size: auto;
    margin: 0;
}

/* Estilos para el contenido de la sección destacada */
.seccion-destacada p {
    font-size: 50%;
}

/* Estilos para los enlaces de navegación */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

body {
    display: flex !important;
    justify-content: center !important; /* Centra horizontalmente */
    align-items: center !important; /* Centra verticalmente */
    min-height: 100vh !important; /* Ocupa al menos el alto de la ventana */
    margin: 0 !important; /* Elimina el margen predeterminado del cuerpo */
}

.contenedor {
    /* Estilos para el contenedor principal de tu contenido */
    max-width: 100%;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos para las pestañas */
.menu-pestanas li {
    margin-right: 10%; /* Agrega un margen derecho de 20 píxeles entre elementos de la lista */
  }

.pestanas {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.pestaña {
    margin-right: auto;
}

.pestaña a {
    text-decoration: none;
    background-color: #3bbff3;
    color: #0a1113;
    padding: 10% 20%;
    border-radius: 15%;
    transition: background-color 0.3s ease;
}

.pestaña a:hover {
    background-color: #64f0fa;
}

/* Estilos para el contenido de las pestañas */
.contenido-pestaña {
    display: none;
}

.contenido-pestaña:first-child {
    display: block;
}

/* Establece la imagen como fondo de la página */
body {
    background-image: url('FondoDePag.jpg') !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-color: #9ae1f7; /* Color de fondo de respaldo en caso de que la imagen no se cargue */
    background-position: center !important; /* Centra la imagen en la pantalla */
    background-size: none !important; /* Ajusta la imagen para que quepa completamente en la pantalla */
}

/* Para LinkedIn */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4; /* Fondo gris claro */
}

.linkedin-icon {
    width: 50%;
    height: 50%;
    border-radius: 50%; /* Hace que el contenedor sea un círculo */
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-decoration: none; /* Quita el subrayado del enlace */
}

img {
    max-width: 100%;
    border-radius: 20% 20%;
    height: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

